<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bem-Vindo</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- jQuery UI Theme -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "css/creative.css" %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- jQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Mudar navegação</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Bagagem Segura</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#services">Cadastros</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Localizar bagagem</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">A maneira mais segura de viajar</h1>
                <hr>
                <p>Com nossos serviços, você viaja tranquilo, sabendo que sua bagagem estará sempre segura</p>
                <a href="#consultaBagagem" class="page-scroll btn btn-default btn-xl sr-button">Consulta de bagagem</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="consultaBagagem">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Consulte aqui a sua bagagem</h2>
                    <hr class="light">
                    <p class="text-faded">Você pode consultar a localização da sua bagagem aqui</p>
                    <form action='' name="consultaBagagemForm" id="consultaBagagemForm" method="GET">
                         <input class="form-control input-size-fixed text-center" placeholder="Numero do documento" id="documentoInput">
                    </form>
                   <div id="info"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cadastros</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                            <a href="#divCadastroPassageiro" class="" data-toggle="collapse">
                                <i class="fa fa-4x fa-paper-plane text-primary sr-icons" style="color:blue"></i>
                                <h3>Cadastre o passageiro</h3>
                            <a/>
                            <p class="text-muted">Indique os dados do viajante</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <a href="#divCadastroBagagem" class="" data-toggle="collapse">
                            <i class="fa fa-4x fa-shopping-bag text-primary sr-icons" style="color:blue"></i>
                            <h3>Localizacação</h3>
                        </a>
                        <p class="text-muted">Cadastre a Localizacação de bagagem</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <a href="#divCadastroTag" class="" data-toggle="collapse">
                            <i class="fa fa-4x fa-tags text-primary sr-icons" style="color:blue"></i>
                            <h3>Tag</h3>
                        </a>
                        <p class="text-muted">Cadastre tags</p>
                    </div>
                </div>
            </div>
        </div>

        <br/><br/>

        <div id="accordion">
            <div id="divCadastroPassageiro" class="collapse">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Cadastro de passageiro</h2>
                            <hr class="primary">
                        </div>
                    </div>
                </div>
                <div id="cadastros" class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon">Nome</span>
                                <input class="form-control input-size-fixed" placeholder="Nome">
                            </div><br/>

                            <div class="input-group input-group-md">
                                <span class="input-group-addon">Sobrenome</span>
                                <input class="form-control input-size-fixed" placeholder="Sobrenome">
                            </div><br/>

                            <div class="input-group input-group-md date" data-provider="datepicker">
                                <span class="input-group-addon">Nascimento</span>
                                <input class="form-control input-size-fixed" id="nascData" placeholder="dd/mm/aa">
                                <script type="text/javascript">
                                    $('#nascData').datepicker({
                                        format: 'mm/dd/yyyy',
                                        startDate: '-3d'
                                    });
                                </script>
                            </div><br/>

                            <div class="input-group input-group-md">
                                <span class="input-group-addon">Nacionalidade</span>
                                <input class="form-control input-size-fixed" placeholder="Nacionalidade">
                            </div><br/>

                            <div class="input-group input-group-md">
                                <a href="#adicionarBagagemDiv" class="btn btn-primary btn-md" data-toggle="collapse">Adicionar bagagem</a>
                            </div>

                            <div id="adicionarBagagemDiv" class="collapse">
                                <br/>
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Peso</span>
                                    <input class="form-control input-size-fixed" placeholder="Peso">
                                </div>
                                <br/>
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Tag</span>
                                    <input class="form-control input-size-fixed" placeholder="Tag">
                                </div>
                                <br/>
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Localizacao</span>
                                    <input class="form-control input-size-fixed" placeholder="Localizacao">
                                </div>
                            </div>

                            <br/>
                            <div class="input-group input-group-md">
                                <a href="#adicionarTagDiv" class="btn btn-primary btn-md" data-toggle="collapse">Adicionar Tag</a>
                            </div>

                            <div id="adicionarTagDiv" class="collapse">
                                <br/>
                                <div class="input-group input-group-md">
                                    <span class="input-group-addon">Tag</span>
                                    <input class="form-control input-size-fixed" placeholder="Tag">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divCadastroBagagem" class="collapse">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Localização de Bagagem</h2>
                            <hr class="primary">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon">Documento</span>
                                <input class="form-control input-size-fixed" placeholder="Documento">
                            </div><br/>

                            <div class="input-group input-group-md">
                                <span class="input-group-addon">Localização</span>
                                <input class="form-control input-size-fixed" placeholder="Localização">
                            </div><br/>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divCadastroTag" class="collapse">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Cadastro de Tag</h2>
                            <hr class="primary">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 text-center">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon">Tag</span>
                                <input class="form-control input-size-fixed" placeholder="Tag">
                            </div><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Entre em contato conosco!</h2>
                    <hr class="light">
                    <p>Qualquer dúvida ou problema, contate-nos!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>(11)0000-0000</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p>contato@bagagemsegura.com</p>
                </div>
            </div>
        </div>
    </section>

    <script>
        $('#divCadastroPassageiro').on('show.bs.collapse', function () {
            $('#divCadastroBagagem').collapse('hide');
            $('#divCadastroTag').collapse('hide');
        });

        $('#divCadastroBagagem').on('show.bs.collapse', function () {
            $('#accordion .in').collapse('hide');
        });

        $('#divCadastroTag').on('show.bs.collapse', function () {
            $('#accordion .in').collapse('hide');
        });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "js/creative.min.js" %}"></script>
    <script type="text/javascript">
        $('#consultaBagagemForm').submit(function(e){
            e.preventDefault();
          var documento = $('#documentoInput').val();
          $(this).attr('action', "/restAPI/passageiros/" + documento + "/bagagens");

          $.ajax({
             url: "/restAPI/passageiros/" + documento + "/bagagens",
             error: function() {
                $('#info').html('<p>An error has occurred</p>');
             },
             dataType: 'json',
             success: function(data) {
                // var jsonData = JSON.parse(data);

                console.log(data);
                $.each(data, function(i, item){
                    $('#info').append('<br/><p>' + 
                        'Sua bagagem tem peso: ' + item.peso + 'kg</br>' + 
                        'Atualmente se localiza em: ' + item.localizacao + '</br>' + 
                        '</p>');
                    console.log(item);
                });
             },
             type: 'GET'
          });
        }); 
    </script>

</body>

</html>
